.header{
  font-size: 1.5rem;
  font-weight: 100;
  background: rgb(222, 222, 190);
  border-top: 1px solid  rgb(219, 219, 50);
  border-bottom: 1px solid  rgb(219, 219, 50);
  padding-left: 1rem;
}

/* import classes from './index.module.css'; */
/* <div className={classes.header}>Events from the 1960s</div> */