.header nav{
  display: flex;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.2rem;
  background: rgb(51, 54, 82);
  font-size: 2.5rem;
  color: rgb(255, 204, 0);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.01rem rgb(159, 159, 159);
  text-decoration: none;
  height: 3.4rem;
}

.header a{
  font-size: 2.5rem;
  color: rgb(255, 118, 118);
  text-decoration: none;
}
.header .active{
  color: white;
}

.header a:hover, .header a:active{
  color: white;
}

.header ul{
  display: flex;
  justify-content: space-between;
  width: 200%;
  margin: 0;
  list-style: none;
}

.header .decades{
  display: flex;
  justify-content: space-around;
  max-width: 23%;
}

.auth a{
  font-size: 1rem;
  color: rgb(246, 255, 0);
}

.decades a{
  font-size: 1.1rem;
  color: rgb(255, 118, 118);
}

.decades li{
  margin-left: 2%;
}

.header button{
  color: rgb(0, 0, 0);
  
}

.header button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media screen and (max-width: 1000px){
  .header ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header .decades{
    font-size: 2rem;
  }

  .header nav{
    height: 15rem;
  }
}

@media screen and (max-width: 460px){
  .decades a{
    font-size: 0.8rem;
  }

  .decades{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .decades ul, .decades li, .decades button, .decades nav{
    height: 1rem;
    margin: 0;
    padding: 0;
  }

 
}

