.header{
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding-left: 1rem;
  color:rgb(39, 39, 39);
  text-shadow: 1px 1px 2px rgb(167, 167, 167);
}

/* import classes from './index.module.css'; */
/* <div className={classes.header}>Events from the 1960s</div> */