.form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.btn button{
  margin-top: 0.2rem;
  background-color: rgba(43, 190, 224, 0.703);
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 0.05rem;
  width: 20%;
}

.btn button:hover{
  color: rgb(255, 203, 118);
}
