.form{
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
}

.form button{
  margin-top: 0.2rem;
}

.form input{
  font-family: inherit;
  border: 1px solid rgb(176, 176, 176);
  padding: 0.2rem;
  border-radius: 0.1rem;
  outline: white;
}
.form input:focus{
  background-color: rgb(239, 237, 200);
}

.option{
  max-width: 5rem;
  margin: auto;
}

.option button{
  font-size: 0.2rem;
  color: rgb(110, 110, 110);
  background-color: white;
  border: 0.1px solid rgba(37, 111, 172, 0.426)
}

.option button:hover{
  color:  rgb(110, 110, 110);
  border: 0.1px solid rgba(37, 111, 172, 0.426)
}

.errorMessage{
  margin-top: 0.1rem;
  font-size: 0.5rem;
  border:1px solid rgb(255, 37, 37);
  background-color: rgb(255, 130, 130);
}