.form{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.form button{
  margin-top: 0.2rem;
}

.option{
  width: 9rem;
  margin-left: 1rem;
}

.errorMessage{
  margin-top: 0.1rem;
  font-size: 0.5rem;
  border:1px solid rgb(255, 37, 37);
  background-color: rgb(255, 130, 130);
}