*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  background: rgb(216, 227, 252);
  font-family: Cambria, 'Times New Roman', serif;
}

li .active{
  color: white;
}

a.active{
  color: rgb(255, 203, 118)
}

li{
  list-style: none;
}